.colorAttributes {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0.8rem;
	margin: 0;
	padding: 0;
}
/*phone + phone landscape*/
@media (max-width: 768px) {
	.colorAttributes {
		align-items: center;
		justify-content: center;
	}
}
