.footerNav {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
}

.footerNav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	text-align: center;
	width: 85%;
}
.footerNav li {
	margin: 0 2rem;
	text-transform: uppercase;
	position: relative;
	padding: 0.5rem 0 0.5rem;
	cursor: pointer;
	font-size: 0.8rem;
}
.footerNav li:hover {
	font-weight: 500;
}
.logo {
	max-height: 50px;
	max-width: 50px;
}
