.initialPrice {
	text-align: right;
	margin: 1rem 0;
	font-weight: 400;
	display: block;
}
.salePrice {
	display: inline-block;
	font-weight: 400;
	color: var(--sale-color);
}
.discountedPrice {
	display: inline-block;
	text-decoration: line-through;
	opacity: 0.5;
}
