.mainContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 2rem auto;
	margin-bottom: 1rem;
}
.mainContainer * {
	font-size: 1rem;
}
.sortContainer {
	text-align: right;
	width: 100%;
}
.sortContainer select {
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}
.filterContainer {
	width: 100%;
}
.filterButton {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.filterButton span {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
.filterButton img {
	height: 0.8rem;
}
@media (max-width: 1024px) {
	.mainContainer {
		width: 90%;
	}
}
