.detailsContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 2rem auto;
	position: relative;
}
.leftColumn,
.rightColumn {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.leftColumn {
	flex: 0 0 55%;
}
.imgContainer {
	min-width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 auto;
}
.image {
	max-width: 300px;
	margin: 2rem auto;
}

.rightColumn {
	flex: 0 0 45%;
}
.rightColumn div,
.rightColumn h2 span,
.rightColumn h4 {
	text-align: left;
}
.rightColumn h1,
.price {
	font-weight: 400;
	text-align: left;
}
.rightColumn h1 {
	font-size: 1.2rem;
	letter-spacing: normal;
	text-transform: none;
	margin: 1rem 0;
	padding: 0;
}
.rightColumn p {
	width: 100%;
	text-align: justify;
	font-size: 0.9rem;
}
.rightColumn ul {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0.8rem;
	margin: 0;
	padding: 0;
}
.rightColumn ul li {
	list-style: none;
	cursor: pointer;
}
.addToCartContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}
.buttonWrapperToolip {
	width: 100%;
	text-align: left;
}
.addToCartButton {
	text-align: center;
	max-width: 50%;
}
.h2 {
	margin: 5rem 0 1rem;
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
	.leftColumn {
		flex: 0 0 40%;
	}

	.image {
		max-width: 250px;
		margin: 2rem auto;
	}

	.rightColumn {
		flex: 0 0 60%;
	}
}

/*phone landscape*/
@media (min-width: 568px) and (max-width: 768px) {
	.detailsContainer {
		flex-direction: column;
	}
	.leftColumn {
		width: 100%;
	}
}

/*phone*/
@media (max-width: 567px) {
	.detailsContainer {
		flex-direction: column;
	}
	.leftColumn {
		width: 100%;
	}
	.imgContainer {
		width: 90%;
	}
	.image {
		width: 250px;
	}
}
