.topSectionContainer {
	text-align: left;
}

.goBack {
	cursor: pointer;
}

.detailsContainer {
	display: flex;
	flex-direction: row;
}
.leftColumn {
	background-color: red;
}
.rightColumn {
	background-color: green;
}
