.breadcrumbsContainer {
	text-align: left;
}
.breadcrumbs {
	text-transform: capitalize;
}

.goBack {
	cursor: pointer;
	display: block;
	text-align: center;
	background-color: var(--light-grey-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	align-items: center;
	padding: auto;
	font-size: 2rem;
	font-weight: 200;
}

.detailsContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 2rem auto;
	position: relative;
}
.leftColumn,
.rightColumn {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.leftColumn {
	/* background-color: red; */
	flex: 0 0 55%;
}
.image {
	max-width: 300px;
	margin: 2rem auto;
	position: fixed;
	left: 15%;
}

.rightColumn {
	/* background-color: green; */
	flex: 0 0 45%;
}
.rightColumn * {
	text-align: left;
}
.rightColumn h3,
.price {
	font-weight: 400;
}
.rightColumn p {
	width: 100%;
	text-align: justify;
	font-size: 0.9rem;
}
.rightColumn ul {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0.8rem;
	margin: 0;
	padding: 0;
}
.rightColumn ul li {
	list-style: none;
	cursor: pointer;
}
.addToCartContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}
.counterContainer {
	/* background-color: green; */
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}
.counterContainer button {
	height: 100%;
	border: 1px solid var(--light-grey-color);
	width: 25px;
	text-align: center;
	font-weight: 400;
	/* background-color: var(--light-grey-color); */
	background-color: var(--light-color);
	cursor: pointer;
}
.counterContainer button:hover {
	background-color: var(--middle-grey-color);
	/* color: var(--light-color); */
}
.counterContainer span {
	min-width: 35px;
	text-align: center;
	font-size: 0.8rem;
}
.addToCartButton {
	text-align: center;
	max-width: 50%;
}
