.dropDownContainer {
	position: static;
	z-index: 3000;
	width: 80%;
	height: auto;
	background-color: var(--light-color);
	padding: 3rem 4rem;
	margin: 0 auto;
}

.modalContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.filtersContainer {
	display: flex;
	flex-direction: row;
	gap: 12.5%;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
}
.filterColumn {
	text-align: left;
	width: 25%;
}

.filtersContainer h4 {
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	padding-bottom: 0.4rem;
	border-bottom: 1.5px solid lightgray;
	width: fit-content;
	margin: 0 0 2rem;
	text-align: left;
}
.category {
	text-transform: capitalize;
	cursor: pointer;
	width: fit-content;
	padding: 0.5rem 0.5rem;
}

.category.checked {
	background-color: var(--accent-color);
	color: white;
}
.buttonContainer {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-end;
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
	.filterWrapper {
		width: 90%;
		height: auto;
	}
}

/*phone landscape*/
@media (max-width: 768px) {
	.dropDownContainer {
		width: 100%;
		height: 80%;
	}
	.modalContainer {
		height: auto;
	}
	.filtersContainer {
		flex-direction: column;
		gap: 2rem;
	}
	.filterColumn {
		width: 100%;
		margin: 0 0 1rem;
	}
	.buttonContainer {
		margin: 1rem 0 1rem;
		flex-direction: column-reverse;
	}
}

/*phone*/
@media (max-width: 567px) {
	.dropDownContainer {
		padding: 2rem;
	}
}
