.nav {
	margin: 0 auto;
}
.nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	text-align: center;
}
.nav li {
	margin: 0 2rem;
	text-transform: uppercase;
	position: relative;
	padding: 0.5rem 0 0.5rem;
	cursor: pointer;
}
.nav li a {
	font-weight: 400;
}
.nav li:hover::after,
.active::after {
	content: '';
	position: absolute;
	left: 25%;
	right: 25%;
	bottom: 0;
	border: 1px solid var(--accent-color);
}
@media (max-width: 750px) {
	.nav ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
