.nav {
	margin: 0 auto;
}
.nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	text-align: center;
}
.nav li {
	margin: 0 2rem;
	text-transform: uppercase;
	position: relative;
	padding: 0.5rem 0 0.5rem;
	cursor: pointer;
}
.nav li:hover::after,
.active::after {
	content: '';
	position: absolute;
	left: 25%;
	right: 25%;
	bottom: 0;
	border: 1px solid var(--accent-color);
}
/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
	.nav li {
		margin: 0 1rem;
	}
}

/*phone landscape*/
@media (min-width: 568px) and (max-width: 768px) {
	.nav li {
		margin: 0 0.5rem;
		font-size: 0.8rem;
	}
}

/*phone*/
@media (max-width: 567px) {
	.nav ul {
		/*for mobile sidebar menu*/
		flex-direction: column;
	}
}
