.product {
	text-align: center;
	margin: 2rem 1rem;
	max-width: 250px;
	min-width: 200px;
	height: 370px;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	position: relative;
}
.product:hover .button {
	background-color: var(--accent-color);
	color: var(--light-color);
}

.productDetails {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: 1rem 0 0;
}
.productDetails span {
	display: block;

	font-weight: 300;
	letter-spacing: 1.5px;
}
.productTitle {
	font-size: 0.8rem;
	text-align: left;
}
.productColors {
	font-size: 0.5rem;
	text-align: right;
}
.imgContainer {
	width: 180px;
	height: 190px;
	margin: 1rem auto;
	display: flex;
	align-items: flex-end;
}
.imgContainer img {
	max-width: 100%;
	max-height: 100%;
}
.product:hover img {
	transform: scale(1.05);
}

.button {
	width: 100%;
	text-transform: none;
}
@media (max-width: 1024px) {
	.product {
		margin: 2rem 0.2rem;
	}
}
@media (max-width: 768px) {
	.product {
		max-width: 300px;
		min-width: 200px;
		height: 500px;
	}
	.imgContainer {
		width: 250px;
		height: 300px;
	}
}
