.card {
	position: relative;
	height: 90vh;
	text-align: center;
	padding: 0 1.2rem;
}
.card h4 {
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	padding-bottom: 0.4rem;
	border-bottom: 1.5px solid lightgray;
	width: fit-content;
	margin: 1rem auto 3rem;
}
.card .logo {
	max-width: 30%;
	position: absolute;
	bottom: 0;
	left: 35%;
	margin: 0 auto;
}

@media (max-width: 380px) {
	.card img {
		max-width: 60%;
		left: 20%;
	}
}
