.header {
	z-index: 1000;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
}
.logoContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header .logo {
	max-height: 3rem;
}
.header .logoNoText {
	height: 2rem;
	margin: 0 2rem;
}
.active {
	font-weight: 600;
}

/* ! TODO fix responsive! */
/* @media (max-width: 1025px) {
	.header {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
} */
@media (max-width: 567px) {
	.header {
		padding: 0.7rem;
	}
}
