.header {
	z-index: 1000;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
}
.logoContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header .logo {
	max-height: 3rem;
}
.header .logoNoText {
	height: 2rem;
	margin: 0 2rem;
}
.active {
	font-weight: 600;
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
	.header {
		padding: 1rem;
	}
}
/*phone landscape*/
@media (min-width: 568px) and (max-width: 768px) {
	.header {
		padding: 1rem;
	}
}
/*phone*/
@media (max-width: 567px) {
	.header {
		padding: 0.7rem;
	}
}
