.header {
	z-index: 1000;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
}
.header .logo {
	max-height: 3rem;
}
.active {
	font-weight: 600;
}

/* ! TODO fix responsive! */
@media (max-width: 1025px) {
	.header {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		max-width: 90%;
	}
}
