.sidebarRight {
	height: 100%;
	width: 380px;
	position: fixed;
	right: 0;
	top: 0;
	background-color: var(--light-color);
	z-index: 2500;
	padding: 1rem;
	margin: 0 auto;
}
.sidebarLeft {
	height: 100%;
	width: 380px;
	position: fixed;
	left: 0;
	top: 0;
	background-color: var(--light-color);
	z-index: 2500;
	padding: 1rem;
	margin: 0 auto;
}
.cross {
	position: absolute;
	top: 10px;
	width: 29px;
	height: 29px;
	opacity: 0.3;
	cursor: pointer;
	right: 10px;
	z-index: 2501;
}
.crossRight {
	left: 10px;
}
.cross:hover {
	opacity: 1;
}
.cross:before,
.cross:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 28px;
	width: 1.5px;
	background-color: var(--dark-color);
}
.cross:before {
	transform: rotate(45deg);
}
.cross:after {
	transform: rotate(-45deg);
}

@media (max-width: 567px) {
	.sidebarRight,
	.sidebarLeft {
		width: 80%;
	}
}
