.burgerButton {
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.lineOne,
.lineTwo,
.lineThree {
	background-color: var(--dark-color);
	width: 30px;
	height: 3px;
	border-radius: 20%;
}
.lineTwo {
	margin: 7px 0;
}
