.productContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 2rem;
}
.colors,
.images,
.sizes {
	text-align: center;
	margin: 0 auto;
}
.colors {
	flex: 1 1 0;
}
.slider {
	flex: 5 8 0;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.imageWrapper {
	width: 50vw;
	height: 200px;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.imageWrapper > div {
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.image {
	max-width: 200px;
	max-height: 200px;
}
.leftArrow,
.rightArrow {
	height: 50px;
}
.rightArrow {
	transform: rotate(180deg);
}
.sizes {
	flex: 1 1 0;
}
.sizes:first-child {
	display: flex;
	flex-direction: column;
}
