.productContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.colors,
.images,
.sizes {
	text-align: center;
	margin: 0 auto;
}
.colors {
	flex: 1 1 0;
}
.slider {
	flex: 5 10 0;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.imageWrapper {
	width: 50vw;
	height: 200px;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	/* position: relative; */
}

.imageWrapper > div {
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.image {
	/* margin: auto; */
	width: 150px;
	position: relative;
}

/*Slide right*/
.slideRightEnter {
	opacity: 0;
	transform: translateX(0);
}
.slideRightEnterActive {
	opacity: 1;
	transform: translateX(100vw);
	transition: all 2000ms ease-in-out;
}
.slideRightExit {
	opacity: 1;
	transform: translateX(-100vw);
}
.slideRightExitActive {
	opacity: 0;
	transform: translateX(-100vw);
	transition: all 2000ms ease-in-out;
}

/*Slide left*/
.slideLeftEnter {
	opacity: 0;
	transform: translateX(-50vw);
}
.slideLeftEnterActive {
	opacity: 1;
	/* transform: translateX(0); */
	transition: all 2000ms ease-in-out;
}
.slideLeftExit {
	opacity: 1;
	/* transform: translateX(0); */
}
.slideLeftExitActive {
	opacity: 0;
	transform: translateX(100vw);
	transition: all 2000ms ease-in-out;
}

.leftArrow,
.rightArrow {
	height: 50px;
}
.rightArrow {
	transform: rotate(180deg);
}
.sizes {
	flex: 1 1 0;
}
