.productGrid {
	max-width: 70%;
	margin: 2rem auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

@media (max-width: 1024px) {
	.productGrid {
		max-width: 90%;
	}
}
@media (max-width: 768px) {
	.productGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 580px) {
	.productGrid {
		grid-template-columns: repeat(1, 1fr);
		max-width: 100%;
	}
}
