:root {
	--dark-color: #1a1a1a;
	--light-color: #ffffff;
	--accent-color: #d48152;
}
* {
	box-sizing: border-box;
	font-family: 'Lexend', sans-serif;
	color: var(--dark-color);
}

body {
	margin: 0;
}
a {
	text-decoration: none;
}
p {
	text-align: justify;
}
.centered {
	text-align: center;
}
