/* TODO - slider layout & responsive */

.slider {
	text-align: right;
	position: relative;
}
.sliderContainer {
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	/* background-color: red; */
	width: 100%;
	flex: 1 2 100px;
}
.rightColumn {
	max-width: 60%;
	position: relative;
}
.leftColumn {
	margin: 0 auto;
}
.cta {
	font-weight: 400;
}
.homePhoto {
	width: 100%;
}
.sliderTextBox {
	text-align: center;
}
.sliderTitle,
.sliderSubtitle {
	display: block;
	font-size: 2rem;
	color: var(--dark-color);
	/* background-color: var(--light-color); */
	/* position: absolute; */
	margin-bottom: 2rem;
}
.sliderTitle {
	top: 10%;
	left: 20%;
	font-weight: 600;
}
.sliderSubtitle {
	top: 20%;
	left: 30%;
}
.sliderSubtitle strong {
	color: inherit;
}
.white {
	color: var(--light-color);
}
/*!  todo fix responsive */
@media (max-width: 567px) {
	.sliderContainer {
		display: flex;
		flex-direction: column-reverse;
	}
	.leftColumn {
		margin-top: 1rem;
	}
	.rightColumn {
		max-width: 100%;
	}
	.titleContainer {
		position: absolute;
		margin: 0 auto;
		top: 15%;
		left: 5%;
	}
	.sliderTitle,
	.sliderSubtitle {
		position: relative;
		left: 0;
		top: 0;
		text-align: left;
		margin: 0 auto;
		font-size: 1.2rem;
		overflow-wrap: break-word;
		color: var(--light-color);
	}
}
