.input {
	pointer-events: none;
	position: fixed;
	opacity: 0;
}
.colorSwatch {
	position: relative;
	background-color: transparent;
}
.colorSwatch > * {
	pointer-events: none;
}

.colorSwatchImg,
.overlay {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.colorSwatchImg,
.overlay {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: var(--light-color);
	opacity: 0;
}
.overlay span {
	position: absolute;
	top: 0;
	left: 0;
}
.checkIcon {
	position: absolute;
	top: 5px;
	width: 30px;
	height: 20px;
}
.overlay:hover,
.checked {
	opacity: 0.8;
	box-shadow: 0px 0px 13px 2px rgba(26, 26, 26, 0.2);
}
